<!-- Task 3: Job Application Form -->
<!-- Requirements
• Full Name
• Email
• Mobile Number
• Experience
• Skills (Checkboxes)
• Resume URL
• Expected Salary
Validations
• All fields required

• Resume URL validation
Expected Design-----------------------------------
Job Application-----------------------------------
Full Name [________________]
Email [________________]
Mobile Number [________________]
Experience [ 0-1 Year t ]
Skills
[ ] HTML [ ] CSS [ ] JavaScript [ ] Angular
Resume URL [________________]
Expected Salary [________________]
[ Submit ] -->


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow-lg" style="background-color: rgb(220, 122, 36);border-radius: 12px;">
                <div class="card-header">
                    <h2 class="text-center text-primary">JOB APPLICATION FORM</h2>
                </div>
                <div class="card-body">
                    <form #appform="ngForm">


                        <div class="form-group">
                            <label>Full Name*</label>
                            <input type="text" name="fullName" #fullName="ngModel" ngModel class="form-control"
                                required>

                            <strong *ngIf="fullName.errors?.['required'] && fullName.touched" class="text-danger">
                                Full Name is required
                            </strong>
                        </div>


                        <div class="form-group">
                            <label>Email*</label>
                            <input type="email" name="email" #email="ngModel" ngModel class="form-control" required
                                email>

                            <strong *ngIf="email.errors?.['required'] && email.touched" class="text-danger">
                                Email is required
                            </strong>

                            <strong *ngIf="email.errors?.['email'] && email.touched" class="text-danger">
                                Enter valid email
                            </strong>
                        </div>

                        <div class="form-group">
                            <label>Mobile Number*</label>
                            <input type="text" name="mobile" #mobile="ngModel" ngModel class="form-control" required
                                pattern="^[0-9]{10}$">

                            <strong *ngIf="mobile.errors?.['required'] && mobile.touched" class="text-danger">
                                Mobile Number is required
                            </strong>

                            <strong *ngIf="mobile.errors?.['pattern'] && mobile.touched" class="text-danger">
                                Mobile Number must be exactly 10 digits
                            </strong>
                        </div>

                        <div class="form-group">
                            <label>Experience*</label>

                            <select name="experience" #experience="ngModel" ngModel class="form-control" required>

                                <option value="">Select Experience</option>
                                <option value="0-1">0-1 Year</option>
                                <option value="1-2">1-2 Years</option>
                                <option value="2-3">2-3 Years</option>
                                <option value="3-4">3-4 Years</option>
                            </select>

                            <strong *ngIf="experience.invalid && experience.touched" class="text-danger">
                                Experience is required
                            </strong>
                        </div>


                        <div class="form-group">
                            <label>Skills*</label><br>

                            <input type="checkbox" name="html" ngModel> HTML
                            <input type="checkbox" name="css" ngModel> CSS
                            <input type="checkbox" name="javascript" ngModel> JavaScript
                            <input type="checkbox" name="angular" ngModel> Angular
                        </div>


                        <div class="form-group">
                            <label>Resume URL*</label>

                            <input type="url" name="resumeUrl" #resumeUrl="ngModel" ngModel class="form-control"
                                required pattern="https?://.+">

                            <strong *ngIf="resumeUrl.errors?.['required'] && resumeUrl.touched" class="text-danger">
                                Resume URL is required
                            </strong>

                            <strong *ngIf="resumeUrl.errors?.['pattern'] && resumeUrl.touched" class="text-danger">
                                Enter valid URL
                            </strong>
                        </div>


                        <div class="form-group">
                            <label>Expected Salary*</label>

                            <input type="number" name="salary" #salary="ngModel" ngModel class="form-control" required
                                min="10001">

                            <strong *ngIf="salary.errors?.['required'] && salary.touched" class="text-danger">
                                Salary is required
                            </strong>

                            <strong *ngIf="salary.errors?.['min'] && salary.touched" class="text-danger">
                                Salary must be greater than 10000
                            </strong>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="appform.invalid">
                                Submit
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>